/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
@keyframes scale_main_view {
	0% {
  transition: all 2s ease 0s;
		transform: scale(1.01);
  opacity: 0;
		}
 100% {
			transform: scale(1.0);
			opacity: 1;
		}
	}
 .main_view {
 animation: scale_main_view 1.0s ease-in-out;
}
.main_view img {
 width: 100%;
 height: 300px;
 object-fit: cover;
}
.figcaption {
 background: rgb(158, 115, 187) /*#9e73bb*/;
}
.section {
 width: 100%;
 margin: 15px ​0;
 padding: 0 2%;
}
.section,
.sec_box {
 opacity: 1;
 font-weight: normal;
}
.sec_icon {
 opacity: 1
}
.sec_h2 {
 background-color: rgb(158, 115, 187) /*#9e73bb*/;
}
h4 {
 margin: 15px 0;
 border: 4px double rgb(158, 115, 187) /*#9e73bb*/;
 padding: 10px;
 border-radius: 5px;
 color: rgb(158, 115, 187) /*#9e73bb*/;
 font-size: 1.6rem;
}
h4:first-child {
 margin-top: 0;
}
.announce h4,
.announce .txt {
 font-weight: bold;
}
h5 {
 margin: 15px 0;
 font-size: 1.5rem;
}
section img {
 border-radius: 5px;
}
.sec_img {
 transform: scale(0.975);
}
.sec_img.scale {
 transform: scale(1);
}

/********************************************************************************************
SP Landscape
*********************************************************************************************/
/* 667px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 667px){
 .section {
  margin: 0 auto 10px;
  padding: 0 1%;
  }
 .section.w100,
 .section.last {
  width: 100%;
  margin: 20px 0;
 }
 .right {
  float: right;
  width: 61.8%;
  padding: 0 0 15px 15px;
  border-radius: 5px;
 }
 .box_articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
 }
 .article {
  width: calc(50% - (15px * 2)) /* width - margin */;
  margin: 0 15px 15px 15px;
  padding: 0;
 }
 .article:nth-child(1),
 .article:nth-child(2) {
  margin-top: -15px;
 }
}

/********************************************************************************************
Tablet Portrait
*********************************************************************************************/
/* 768px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px){
 .article:last-child {
  width: 100%;
 }
 .article:last-child img {
  float: left;
  width: 50%;
  margin: 0 15px 15px 0;
 }
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1024px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px){
 header {
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15) /*#000*/;
 }
 main {
  max-width: 1920px;
  margin: auto;
 }
 .fig.main_view img {
  height: 500px;
 }
 .sec_h2 {
  font-size: 1.6rem;
 }
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1920px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1920px){
 .section,
 .section.w100 {
  padding: 0;
 }
 .fig.main_view img {
  object-position: 0 -1350px;
 }
}
