/* fancy_slider */
.fnc-slider {
 overflow: hidden;
 box-sizing: border-box;
 position: relative;
 height: 100vh;
 width: 100vw;
}
.fnc-slider__slides {
 position: relative;
 height: 100%;
 transition: transform 1s 0.6666666667s;
}
.fnc-slide {
 overflow: hidden;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 transform: translate3d(0, 0, 0);
}
.fnc-slide.m--before-sliding {
 z-index: 2 !important;
 transform: translate3d(100%, 0, 0);
}
.fnc-slide.m--active-slide {
 z-index: 1;
 transition: transform 1s 0.6666666667s ease-in-out;
 transform: translate3d(0, 0, 0);
}
.fnc-slide__inner {
 position: relative;
 height: 100%;
 background-size: cover;
 background-position: center top;
 transform: translate3d(0, 0, 0);
}
.m--global-blending-active .fnc-slide__inner, .m--blend-bg-active .fnc-slide__inner {
 background-blend-mode: luminosity;
}
.m--before-sliding .fnc-slide__inner {
 transform: translate3d(-100%, 0, 0);
}
.m--active-slide .fnc-slide__inner {
 transition: transform 1s 0.6666666667s ease-in-out;
 transform: translate3d(0, 0, 0);
}
.fnc-slide__mask {
 overflow: hidden;
 z-index: 1;
 position: absolute;
 right: 80%;
 top: 6%;
 width: 50.25vh;
 height: 67vh;
 margin-right: 0;
 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0, 6vh 0, 6vh 61vh, 44vh 61vh, 44vh 6vh, 6vh 6vh);
 transform-origin: 50% 0;
 transition-timing-function: ease-in-out;
}
.m--before-sliding .fnc-slide__mask {
 transform: rotate(-10deg) translate3d(200px, 0, 0);
 opacity: 0;
}
.m--active-slide .fnc-slide__mask {
 transition: transform 0.7s 1.2222222222s, opacity 0.35s 1.2222222222s;
 transform: translate3d(0, 0, 0);
 opacity: 1;
}
.m--previous-slide .fnc-slide__mask {
 transition: transform 0.7s 0.3333333333s, opacity 0.35s 0.6833333333s;
 transform: rotate(10deg) translate3d(-200px, 0, 0);
 opacity: 0;
}
.fnc-slide__mask-inner {
 z-index: -1;
 position: absolute;
 left: 50%;
 top: 50%;
 width: 100vw;
 height: 100vh;
 margin-left: -50vw;
 margin-top: -50vh;
 background-size: cover;
 background-position: center center;
 background-blend-mode: luminosity;
 transform-origin: 50% 16.5vh;
 transition-timing-function: ease-in-out;
}
.m--before-sliding .fnc-slide__mask-inner {
 transform: translateY(0) rotate(10deg) translateX(-200px) translateZ(0);
}
.m--active-slide .fnc-slide__mask-inner {
 transition: transform 0.7s 1.2222222222s;
 transform: translateX(0);
}
.m--previous-slide .fnc-slide__mask-inner {
 transition: transform 0.7s 0.3333333333s;
 transform: translateY(0) rotate(-10deg) translateX(200px) translateZ(0);
}
.fnc-slide__content {
 z-index: 2;
 position: absolute;
 left: 0;
 top: 14%;
 width: 95%;
 padding: 0 3%;
}
.fnc-slide__content .slide_01 {
 position: relative;
 top: 200px;
}
.fnc-slide__heading {
 margin-bottom: 10px;
}
.fnc-slide__heading-line {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 overflow: hidden;
 position: relative;
 padding: 0 2%;
 color: #fff;
 text-shadow: 0 0 1px rgba(0, 0, 0, 0.3) /*#000*/;
}
.fnc-slide__heading-line .top_txt {
 display: block;
 order: 2;
 margin-bottom: 10px;
 font-size: 1.8rem;
 font-family: Helvetica, Arial, sans-serif;
 text-shadow: 0 0 1px rgba(0, 0, 0, 0.9) /*#000*/;
}
.fnc-slide__heading-line .top_txt.first_txt {
 order: 1;
 margin-bottom: 20px;
 font-size: 3rem;
 font-weight: 900;
 line-height: 1.2;
 font-family: Helvetica, Arial, sans-serif;
}
.fnc-slide__heading-line:nth-child(2) {
 padding-left: 30px;
}
.m--before-sliding .fnc-slide__heading-line {
 transform: translateY(100%);
}
.m--active-slide .fnc-slide__heading-line {
 transition: transform 1.5s 1s;
 transform: translateY(0);
}
.m--previous-slide .fnc-slide__heading-line {
 transition: transform 1.5s;
 transform: translateY(-100%);
}
.m--before-sliding .fnc-slide__heading-line .top_txt {
 transform: translateY(-100%);
}
.m--active-slide .fnc-slide__heading-line .top_txt {
 transition: transform 1.5s 1s;
 transform: translateY(0);
}
.m--previous-slide .fnc-slide__heading-line .top_txt {
 transition: transform 1.5s;
 transform: translateY(100%);
}
.fnc_slide_link {
 position: relative;
 z-index: 2;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 80px;
 height: 40px;
 background: rgb(31, 40, 51) /*#1f2833*/;
 overflow: hidden;
 box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) /*#000*/;
 border-radius: 3px;
 padding: 5px 2%;
 font-size: 1.5rem;
 color: rgb(255, 255, 255) /*#fff*/;
 letter-spacing: 0.15rem;
 cursor: pointer;
}
.fnc_slide_link::before,
.fnc_slide_link::after {
 position: absolute;
 z-index: -1;
 display: block;
 content: '';
 transition: all .3s;
}
.fnc-nav {
 z-index: 5;
 position: absolute;
 right: 0;
 width: 100%;
 height: 100px;
 bottom: 0;
}
.fnc-nav__bgs {
 z-index: -1;
 overflow: hidden;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
}
.fnc-nav__bg {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
}
.fnc-nav__bg.m--nav-bg-before {
 z-index: 2 !important;
 transform: translateX(100%);
}
.fnc-nav__bg.m--active-nav-bg {
 z-index: 1;
 transition: transform 1s 0.6666666667s;
 transform: translateX(0);
}
.fnc-nav__controls {
 position: absolute;
 bottom: -10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 width: 100%;
 font-size: 0;
}
.fnc-nav__controls a {
 color: rgb(255, 255, 255) /* #fff */;
}
.fnc-nav__control {
 overflow: hidden;
 position: relative;
 vertical-align: top;
 flex-grow: 1;
 width: 25%;
 height: 50px;
 font-size: 1.4rem;
 color: rgb(255, 255, 255) /* #fff */;
 background: transparent;
 border: none;
 outline: none;
 cursor: pointer;
 transition: background-color 0.5s;
}
.fnc-nav__control.m--active-control {
 background: rgb(31, 40, 51) /*#1f2833*/;
 border-radius: 3px 3px 0 0;
}
.fnc-nav__control-progress {
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 2px;
 background: rgb(255, 255, 255) /* #fff */;
 transform-origin: 0 50%;
 transform: scaleX(0);
 transition-timing-function: linear !important;
}
.m--with-autosliding .m--active-control .fnc-nav__control-progress {
 transform: scaleX(1);
}
.m--prev-control .fnc-nav__control-progress {
 transform: translateX(100%);
 transition: transform 0.5s !important;
}
.m--reset-progress .fnc-nav__control-progress {
 transform: scaleX(0);
 transition: transform 0s 0s !important;
}
.m--autosliding-blocked .fnc-nav__control-progress {
 transition: all 0s 0s !important;
 transform: scaleX(0) !important;
}
.fnc-cont {
 overflow: hidden;
 position: relative;
 perspective: 3500px;
}
.fnc-cont__credits {
 box-sizing: border-box;
 overflow-y: auto;
 z-index: 10;
 position: absolute;
 right: 0;
 top: 0;
 width: auto;
 height: 100%;
 padding: 150px 2% 30px;
 background: linear-gradient(-45deg, rgba(243, 130, 33, 1) 0%, rgba(243, 130, 33, 0.8) 100%) /*#c8e35b*/;
 font-family: Helvetica, Arial, sans-serif;
 text-align: center;
 transition: transform 0.7s;
 transform: translate3d(100%, 0, 0) rotateY(-45deg);
 will-change: transform;
}
.credits-active .fnc-cont__credits {
 transition: transform 0.7s 0.2333333333s;
 transform: translate3d(0, 0, 0);
}
.fnc-cont__credits *, .fnc-cont__credits *:before, .fnc-cont__credits *:after {
 box-sizing: border-box;
}
.fnc-cont__credits-close {
 top: 100px;
}
.fnc-cont__credits-heading {
 background: rgba(243, 130, 33, 0.5) /*#f38221*/;
 margin-bottom: 20px;
 border-radius: 5px;
 padding: 2%;
 font-family: Helvetica, Arial, sans-serif;
 font-size: 2.5rem;
 color: rgb(255, 255, 255) /*#fff*/;
 line-height: 1.2;
}
.fnc-cont__credits-img {
 display: block;
 width: 60%;
 margin: 0 auto 30px;
 border-radius: 10px;
}
.fnc-cont__credits-name {
 margin-bottom: 50px;
 font-size: 2rem;
 color: rgb(255, 255, 255) /*#fff*/;
}
.fnc-cont__credits-name::before,
.fnc-cont__credits-name::after {
 content: " - ";
}
.fnc_icon {
 width: 25px;
 height: 25px;
 margin-right: 10px;
}
.fnc_icon.contact {
 width: 23px;
 height: 23px;
}
.fnc-cont__credits-link {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 5%;
 border-bottom: 1px dotted rgba(255, 255, 255, 0.5) /*#fff*/;
 padding: 15px 0;
 font-size: 2.2rem;
 color: rgb(255, 255, 255) /*#fff*/;
 text-shadow: 0 0 1px rgba(0, 0, 0, 0.1) /*#000*/;
}
.fnc-cont__credits-blend {
 font-size: 30px;
 margin-bottom: 10px;
}
.fnc-cont__credits_txt {
 margin: 30px 3% 10px;
 padding-bottom: 20px;
 font-size: 1.5rem;
 font-weight: bold;
 color: rgb(255, 255, 255) /* #fff */;
}
.fancy-slider {
 z-index: 2;
 transform: translate3d(0, 0, 0);
 transition: transform 0.7s;
}
.credits-active .fancy-slider {
 transform: translate3d(-400px, 0, 0) rotateY(10deg) scale(0.9);
}
.fancy-slider .fnc-slide-1 .fnc-slide__inner,
.fancy-slider .fnc-slide-1 .fnc-slide__mask-inner {
 background: url("../img/fnc_aboutmike_1200x1600.jpg");
 background-size: cover;
 background-position: center top;
}
.fancy-slider .fnc-slide-2 .fnc-slide__inner,
.fancy-slider .fnc-slide-2 .fnc-slide__mask-inner {
 background: url("../img/fnc_one_to_one_1200x1600.jpg");
 background-size: cover;
 background-position: center center;
}
.fancy-slider .fnc-slide-3 .fnc-slide__inner,
.fancy-slider .fnc-slide-3 .fnc-slide__mask-inner {
 background: url("../img/fnc_location_1200x800.jpg");
 background-size: cover;
 background-position: center center;
}
.fancy-slider .fnc-slide-3 .fnc-slide__inner:before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background: rgba(255, 255, 255, 0.1);
}
.fancy-slider .fnc-slide-4 .fnc-slide__inner,
.fancy-slider .fnc-slide-4 .fnc-slide__mask-inner {
 background: url("../img/fnc_contact_1200x800.jpg");
 background-size: cover;
 background-position: center center;
}
.fancy-slider .fnc-slide-4 .fnc-slide__inner:before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.2) /*#000*/;
}
.fancy-slider .fnc-slide__heading,
.fancy-slider .fnc-slide__action-btn,
.fnc_slide_link,
.fancy-slider .fnc-nav__control {
 position: relative;
 bottom: 10px;
 margin-top: 30px;
}

/********************************************************************************************
Tablet Portrait
*********************************************************************************************/
/* 768px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px){
 .fancy-slider .fnc-slide__heading,
 .fancy-slider .fnc-slide__action-btn,
 .fnc_slide_link,
 .fancy-slider .fnc-nav__control {
  margin-top: 80px;
 }
 .fnc-slide__content .slide_01 {
  top: 0;
 }
 .fnc-slide__heading-line .top_txt.first_txt {
  font-size: 3rem;
 }
 .fnc-cont__credits {
  padding-top: 200px;
 }
 .fnc-cont__credits-close {
  top: 100px;
  right: 3.5%;
 }
 .fnc_slide_link {
  width: 100px;
 }
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1024px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px){
 .fnc_slide_link:hover {
  color: rgb(53, 87, 129) /*#355781*/;
 }
 .fnc_slide_link::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }
 .fnc_slide_link:hover::after {
  transform: scale(2) rotate(180deg);
  background: rgb(255, 255, 255) /*#fff*/;
 }
 .fnc-nav__control:hover {
  background: rgb(31, 40, 51) /*#1f2833*/;
 }
 .fnc-cont__credits-close {
  top: 150px;
  right: 4.5%;
 }
 .fancy-slider .fnc-slide-1 .fnc-slide__inner,
 .fancy-slider .fnc-slide-1 .fnc-slide__mask-inner {
  background: url("../img/fnc_aboutmike_1920x2560.jpg");
  background-position: center -500px;
 }
 .fancy-slider .fnc-slide-2 .fnc-slide__inner,
 .fancy-slider .fnc-slide-2 .fnc-slide__mask-inner {
  background: url("../img/fnc_one_to_one_1920x2560.jpg");
  background-position: center -700px;
 }
 .fancy-slider .fnc-slide-3 .fnc-slide__inner,
 .fancy-slider .fnc-slide-3 .fnc-slide__mask-inner {
  background: url("../img/fnc_location_1920x1275.jpg");

 }
 .fancy-slider .fnc-slide-4 .fnc-slide__inner,
 .fancy-slider .fnc-slide-4 .fnc-slide__mask-inner {
  background: url("../img/fnc_contact_1920x1440.jpg");
  background-position: center center;
 }
}

/********************************************************************************************
PC
*********************************************************************************************/
/* 1280px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1280px){
 .fancy-slider .fnc-slide-1 .fnc-slide__inner,
 .fancy-slider .fnc-slide-1 .fnc-slide__mask-inner {
  background-position: center -300px;
 }
 .fancy-slider .fnc-slide-2 .fnc-slide__inner,
 .fancy-slider .fnc-slide-2 .fnc-slide__mask-inner {
  background-position: center -500px;
 }
}

/********************************************************************************************
PC
*********************************************************************************************/
/* 1920px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1920px){
 .fancy-slider .fnc-slide-1 .fnc-slide__inner,
 .fancy-slider .fnc-slide-1 .fnc-slide__mask-inner {
  background: url("../img/fnc_aboutmike_2800x3734.jpg");
  background-position: center -700px;
 }
 .fancy-slider .fnc-slide-2 .fnc-slide__inner,
 .fancy-slider .fnc-slide-2 .fnc-slide__mask-inner {
  background: url("../img/fnc_one_to_one_2448x3264.jpg");
 }
 .fancy-slider .fnc-slide-3 .fnc-slide__inner,
 .fancy-slider .fnc-slide-3 .fnc-slide__mask-inner {
  background: url("../img/fnc_location_2800x1860.jpg");
 }
 .fancy-slider .fnc-slide-4 .fnc-slide__inner,
 .fancy-slider .fnc-slide-4 .fnc-slide__mask-inner {
  background: url("../img/fnc_contact_2800x1866.jpg");
 }
}
