/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
@keyframes scale_main_view {
	0% {
  transition: all 2s ease 0s;
		transform: scale(1.01);
  opacity: 0;
		}
 100% {
			transform: scale(1.0);
			opacity: 1;
		}
	}
.main_view {
	animation: scale_main_view 1.0s ease-in-out;
}
.main_view img {
 width: 100%;
 height: 300px;
 object-fit: cover;
}
.figcaption {
 background: rgb(89, 145, 216) /*#5991d8*/;
}
.figcaption.name {
 letter-spacing: 0.15rem;
}
.section {
 width: 100%;
 margin: 15px ​0;
 padding: 0 2%;
}
.section:first-of-type {
	margin-top: 100px;
}
.section,
.sec_box {
 opacity: 1;
 font-weight: normal;
}

/*2021.06.03
reviws.cssの後に作成する。/*
