/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
.figcaption.gallery,
.sec_box_gallery #searchsubmit {
	background: rgb(66, 191, 176) /*#42bfb0*/;
}
.main_view img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center -10px;
}
#masonry {
	width: 100%;
	overflow: hidden;
}
#masonry article {
	width: 100%;
	background: rgba(254, 253, 253, 0.5) /*#fefdfd*/;
	border: none;
	padding: 10px;
}
#masonry article img,
.taxonomy article img {
	height: auto;
	margin: 10px 0 0 0;
	padding: 0;
}
#masonry article time,
.taxonomy article time {
	margin: 0;
}
.taxonomy article:first-child {
	padding-top: 15px;
}

/********************************************************************************************
Tablet Portrait
*********************************************************************************************/
/* 768px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px){
#masonry article {
	width: calc(100% / 2);
	padding: 20px;
	}
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1920px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1920px){
#masonry article {
	width: calc(100% / 3);
	}
}
