/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
.figcaption.gallery,
.sec_box_gallery #searchsubmit {
	background: rgb(66, 191, 176) /*#42bfb0*/;
}
.main_view img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center -10px;
}
#masonry {
	width: 100%;
	overflow: hidden;
}
#masonry article {
	width: 100%;
	background: rgba(254, 253, 253, 0.5) /*#fefdfd*/;
	border: none;
	padding: 10px;
}
#masonry article img {
	height: auto;
}
