/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
@keyframes scale_main_view {
	0% {
		transition: all 2s ease 0s;
		transform: scale(1.01);
		opacity: 0;
	}
	100% {
		transform: scale(1.0);
		opacity: 1;
	}
}
.main_view {
	animation: scale_main_view 1.0s ease-in-out;
}
.main_view img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center -10px;
}
.figcaption {
	background: rgb(66, 191, 176) /*#42bfb0*/;
}
.figcaption.name {
	letter-spacing: 0.15rem;
}
.section {
	width: 100%;
	margin: 15px ​0;
	padding: 0 2%;
}
.section,
.sec_box {
	opacity: 1;
	font-weight: normal;
}
.sec_box_inner {
	margin: ​0;
	padding: 10px 0 0;
}
footer .sec_box_inner {
 padding: 15px;
}
.sec_icon {
	opacity: 1
}
.sec_h2 em {
	display: block;
}
article {
	position: relative;
	margin-bottom: 0;
}
article:first-child {
	padding-top: 0;
}
article:last-child {
	border-bottom: none;
}
#masonry {
	width: 100%;
	overflow: hidden;
}
#masonry article {
	width: 100%;
	background: rgba(254, 253, 253, 0.5) /*#fefdfd*/;
	border: none;
	padding: 10px;
}
#masonry article img {
	height: auto;
}
h4 {
	margin: 15px 0;
	border: 4px double rgb(30, 136, 168) /*#1e88a8*/;
	padding: 10px;
	border-radius: 5px;
	color: rgb(30, 136, 168) /*#1e88a8*/;
	font-size: 1.6rem;
}
h4:first-child {
	margin-top: 0;
}
.article_cat {
	margin-top: 10px;
	color: rgb(89, 145, 216) /*#5991d8*/;
	font-size: 1.4rem;
	text-align: right;
}
.cat {
	display: inline-block;
	width: 100%;
	padding: 0 5px 5px 0;
	border-right: 4px double rgb(30, 136, 168) /*#1e88a8*/;
	border-bottom: 4px double rgb(30, 136, 168) /*#1e88a8*/;
	border-radius: 0 0 5px 0;
	color: rgb(53, 87, 129) /*#355781*/;
	transition: all 0.3s ease 0s;
}
.cat:hover {
	color: rgb(89, 145, 216) /*#5991d8*/;
}
.box_link_cat {
	width: 100%;
	padding: 30px 15px 15px;
	text-align: right;
}
.link_cat {
	color: rgb(89, 145, 216) /*#5991d8*/;
}
#sidebar h2 {
 font-size: 1.8rem;
 color: rgb(30, 136, 168) /*#1e8å8a8; */;
 text-align: center;
}
#csategories ul,
#archives ul {
	margin: 0;
}
#tags p {
	margin: 0;
	padding: 10px;
}
.wp-pagenavi {
	overflow: hidden;
	margin: 20px auto;
}
.wp-pagenavi a,
.wp-pagenavi span {
	float: left;
	width: 23%;
	margin: 1%;
	border: 1px solid rgb(89, 145, 216) /*#5991d8*/;
	padding: 6px 8px;
	font-size: 1.4rem;
	color: rgb(89, 145, 216) /*#5991d8*/;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.wp-pagenavi a:hover,
.wp-pagenavi span.current {
 background: rgb(30, 136, 168) /*#1e88a8*/;
 border: 1px solid rgb(30, 136, 168) /*#1e88a8*/;
 color: rgb(255, 255, 255) /*#fff*/;
}

/********************************************************************************************
SP Landscape
*********************************************************************************************/
/* 667px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 667px){
	.section {
		margin: 0 auto 10px;
		padding: 0 1%;
	}
	.section.w100,
	.section.last {
		width: 100%;
		margin: 20px 0;
	}
	#masonry article {
		width: calc(100% / 2);
	}
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1024px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px){
	header {
		top: 0;
		z-index: 1000;
		justify-content: space-between;
		align-items: center;
		width: 98%;
		height: 120px;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15) /*#000*/;
	}
	main {
		max-width: 1920px;
		margin: auto;
	}
	.fig.main_view img {
		height: 500px;
	}
	.sec_h2 {
		font-size: 1.6rem;
	}
	#masonry article {
		width: calc(100% / 3);
	}
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1920px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1920px){
	.section {
		padding: 0;
	}
	#masonry article {
		width: calc(100% / 4);
	}
}
