/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
.figcaption {
 background: rgba(246, 114, 128, 0.8) /*#f67280*/;
}
article .post {
	margin: 0 15px;
}
article h3 {
	margin: 10px 0;
}
.archive .sec_box_mikes_posts img {
	margin: 10px 0;
}
#searchsubmit {
	background: rgba(246, 114, 128, 0.8) /*#f67280*/;
}
.article_cat {
	display: block;
 color: rgb(89, 145, 216) /*#5991d8*/;
 font-size: 1.4rem;
 text-align: right;
}
.cat {
	display: inline-block;
	width: 100%;
	padding: 0 5px 5px 0;
	border-right: 4px double rgb(30, 136, 168) /*#1e88a8*/;
	border-bottom: 4px double rgb(30, 136, 168) /*#1e88a8*/;
	border-radius: 0 0 5px 0;
	color: rgb(53, 87, 129) /*#355781*/;
	transition: all 0.3s ease 0s;
}
.cat:hover {
	color: rgb(89, 145, 216) /*#5991d8*/;
}
