/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
#archive .figcaption,
#single .figcaption,
#single .figcaption,
#date .figcaption,
#category_information .figcaption,
#category_funny_english .figcaption,
#category_japanese_posts .figcaption,
#search .figcaption,
.sec_box_mikes_posts #searchsubmit {
	background: rgb(246, 114, 128) /*#f67280*/;
}
article .post {
 overflow: hidden;
}
article h3 {
	margin: 10px 0;
}
.archive .sec_box_mikes_posts img {
	margin: 15px 0;
}

/********************************************************************************************
Tablet Portrait
*********************************************************************************************/
/* 768px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px){
 .archive .sec_box_mikes_posts img.wp-post-image {
  width: 38.2%;
  float: left;
  margin: 0 15px 15px 0;
 }
}
