/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
@keyframes scale_main_view {
	0% {
  transition: all 2s ease 0s;
  transform: scale(1.01);
  opacity: 0;
		}
 100% {
			transform: scale(1.0);
			opacity: 1;
		}
	}
.main_view {
 animation: scale_main_view 1.0s ease-in-out;
}
.main_view img {
 width: 100%;
 height: 300px;
 object-fit: cover;
}
.figcaption {
 background: rgb(30, 136, 168) /*#1e88a8*/;
}
.section {
 width: 100%;
 margin: 15px ​0;
 padding: 0 2%;
}
.section,
.sec_box {
 opacity: 1;
 font-weight: normal;
}
#anchor_Tuition .sec_box_inner {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 100%;
 opacity: 0.95;
 background: rgb(89, 145, 216) /*#5991d8*/ url("../img/ONE_TO_ONE/air_plain.svg") no-repeat center center / contain;
 background-size: 300px;
 margin-top: 10px;
 border-radius: 5px;
 color: rgb(255, 255, 255) /*#fff*/;
 text-align: left;
}
.sec_icon {
 opacity: 1
}
.sec_h2 {
 background-color: rgb(30, 136, 168) /*#1e88a8*/;
}
.sec_h3_one_to_one {
 display: flex;
 flex-direction: column;
 background: rgb(30, 136, 168) /*#1e88a8*/;
 background-image:
 repeating-linear-gradient(
  14deg,
  rgba(245, 241, 213, 0.10),
  rgba(245, 241, 213, 0.10) 50px,
  rgba(255, 255, 255, 0.10) 50px,
  rgba(255, 255, 255, 0.10) 58px,
  rgba(255, 255, 255, 0.10) 58px,
  rgba(255, 255, 255, 0.10) 66px,
  rgba(245, 241, 213, 0.10) 66px,
  rgba(245, 241, 213, 0.10) 74px,
  rgba(255, 255, 255, 0.10) 74px,
  rgba(255, 255, 255, 0.10) 114px,
  rgba(180, 214, 198, 0.10) 114px,
  rgba(180, 214, 198, 0.10) 154px,
  rgba(255, 255, 255, 0.10) 154px,
  rgba(255, 255, 255, 0.10) 162px,
  rgba(245, 241, 213, 0.10) 162px,
  rgba(245, 241, 213, 0.10) 170px,
  rgba(255, 255, 255, 0.10) 170px,
  rgba(255, 255, 255, 0.10) 178px
  ),
  repeating-linear-gradient(
   -15deg,
   rgba(245, 241, 213, 0.10),
   rgba(245, 241, 213, 0.10) 50px,
   rgba(255, 255, 255, 0.10) 50px,
   rgba(255, 255, 255, 0.10) 58px,
   rgba(255, 255, 255, 0.10) 58px,
   rgba(255, 255, 255, 0.10) 66px,
   rgba(245, 241, 213, 0.10) 66px,
   rgba(245, 241, 213, 0.10) 74px,
   rgba(255, 255, 255, 0.10) 74px,
   rgba(255, 255, 255, 0.10) 114px,
   rgba(180, 214, 198, 0.10) 114px,
   rgba(180, 214, 198, 0.10) 154px,
   rgba(255, 255, 255, 0.10) 154px,
   rgba(255, 255, 255, 0.10) 162px,
   rgba(245, 241, 213, 0.10) 162px,
   rgba(245, 241, 213, 0.10) 170px,
   rgba(255, 255, 255, 0.10) 170px,
   rgba(255, 255, 255, 0.10) 178px
   ),
   repeating-linear-gradient(
    -15deg,
    rgba(245, 241, 213, 0.10),
    rgba(245, 241, 213, 0.10) 50px,
    rgba(255, 255, 255, 0.10) 50px,
    rgba(255, 255, 255, 0.10) 58px,
    rgba(255, 255, 255, 0.10) 58px,
    rgba(255, 255, 255, 0.10) 66px,
    rgba(245, 241, 213, 0.10) 66px,
    rgba(245, 241, 213, 0.10) 74px,
    rgba(255, 255, 255, 0.10) 74px,
    rgba(255, 255, 255, 0.10) 114px,
    rgba(180, 214, 198, 0.10) 114px,
    rgba(180, 214, 198, 0.10) 154px,
    rgba(255, 255, 255, 0.10) 154px,
    rgba(255, 255, 255, 0.10) 162px,
    rgba(245, 241, 213, 0.10) 162px,
    rgba(245, 241, 213, 0.10) 170px,
    rgba(255, 255, 255, 0.10) 170px,
    rgba(255, 255, 255, 0.10) 178px
    ),
    repeating-linear-gradient(
     -15deg,
     rgba(245, 241, 213, 0.10),
     rgba(245, 241, 213, 0.10) 50px,
     rgba(255, 255, 255, 0.10) 50px,
     rgba(255, 255, 255, 0.10) 58px,
     rgba(255, 255, 255, 0.10) 58px,
     rgba(255, 255, 255, 0.10) 66px,
     rgba(245, 241, 213, 0.10) 66px,
     rgba(245, 241, 213, 0.10) 74px,
     rgba(255, 255, 255, 0.10) 74px,
     rgba(255, 255, 255, 0.10) 114px,
     rgba(180, 214, 198, 0.10) 114px,
     rgba(180, 214, 198, 0.10) 154px,
     rgba(255, 255, 255, 0.10) 154px,
     rgba(255, 255, 255, 0.10) 162px,
     rgba(245, 241, 213, 0.10) 162px,
     rgba(245, 241, 213, 0.10) 170px,
     rgba(255, 255, 255, 0.10) 170px,
     rgba(255, 255, 255, 0.10) 178px
     );
 padding: 10px;
 border-radius: 5px 5px 0 0;
 font-family: Helvetica, Arial, sans-serif;
 color: rgb(255, 255, 255) /*#fff*/;
 text-align: center;
}
h3.sec_h3_lead {
 font-size: 1.5rem;
 letter-spacing: 0.1rem;
}
h4 {
 margin: 15px 0;
 border: 4px double rgb(30, 136, 168) /*#1e88a8*/;
 padding: 10px;
 border-radius: 5px;
 color: rgb(30, 136, 168) /*#1e88a8*/;
 font-size: 1.6rem;
}
h4:first-child,
.arrow_h4:first-child {
 margin-top: 0;
}
.article:first-child .article_h4 {
	margin-top: 15px;
}
.article .article_h4 {
 margin: -10px 0 15px 0;
 border-right: none;
	border-bottom: none;
	border-radius: 5px 0 0 0;
 padding: 5px 0 0 10px;
}
.nav_local_box {
 display: flex;
 width: 100%;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-bottom: 10px;
}
@keyframes border_radius {
	0%, 40%, 60%, 80% {
  border-radius: 5px;
 }
	50%, 70% {
  border-radius: 15px;
 }
}
.arrow_h4 {
 width: calc((100% / 2) + (-5px * 2));
 position: relative;
 background-color: rgba(30, 136, 168, 0.9) /*#1e88a8*/ !important;
 margin: 0 10px 20px;
 border: none;
 padding: 5px;
 font-family: Helvetica, Arial, sans-serif;
 text-align: center;
 animation: border_radius 2.5s linear alternate infinite, pulse_one_to_one 2.5s linear alternate infinite;
}
.arrow_h4:nth-of-type(odd) {
 margin-left: 0;
}
.arrow_h4:nth-of-type(even) {
 margin-right: 0;
}
@keyframes arrow_h4 {
 80%{
  border-width: 10px;
 }
 98%,100%{
  border-width: 15px;
 }
}
.arrow_h4::after {
 width: 0;
 height: 0;
 position: absolute;
 top: 100%;
 left: 50%;
 transform: translateX(-50%);
 border: 15px solid transparent;
 border-top-color: rgba(30, 136, 168, 0.8) /*#1e88a8*/;
 content: '';
 animation: arrow_h4 2.5s linear alternate infinite;
}
.arrow_h4 a {
 display: flex;
 flex-direction: column;
	border: 1px solid rgba(255, 255, 255, 0.8) /*#fff*/;
	border-radius: 5px;
 color: rgb(255, 255, 255) /*#fff*/;
	animation: border_radius 2.5s linear alternate infinite;
}
#LINE {
 background: rgb(30, 136, 168) /*#1e88a8*/;
 margin: 15px 0;
 padding: 10px;
 border-radius: 5px;
 font-size: 1.5rem;
 color: rgb(255, 255, 255) /*#fff*/;
}
.em_en {
 order: 1;
 font-size: 1.7rem;
}
.em_ja {
 order: 2;
 font-size: 1.5rem;
 font-weight: normal;
}
.em_en span,
.em_ja span {
	display: block;
}
.sec_img {
 transform: scale(0.975);
}
.sec_img.scale {
 transform: scale(1);
}
#anchor_Tuition .inner_ja {
 margin-bottom: 100px;
}
#anchor_Tuition .inner_en {
 margin-top: 200px;
}
th,
td {
 border-bottom: 1px dotted rgb(255, 255, 255) /*#fff*/;
 padding: 10px 0;
}
td {
 text-align: right;
}
tr:first-child th {
 padding-top: 0;
}
.qa_h4 {
 display: flex;
 flex-direction: row;
 align-items: center;
}
.qa_img {
 display: inline-block;
 width: 40px;
 height: 40px;
 margin-right: 10px;
}
.article {
	position: relative;
 padding: 15px 10px;
	margin-bottom: 20px;
}
.article:first-child {
 padding-top: 0;
}
.article:last-child {
 border-bottom: none;
}
.article_cat {
	display: block;
	position: absolute;
	bottom: -10px;
	width: 100%;
 color: rgb(89, 145, 216) /*#5991d8*/;
 font-size: 1.4rem;
 text-align: right;
}
.cat {
	display: inline-block;
	width: 100%;
	padding: 0 5px 5px 0;
	border-right: 4px double rgb(30, 136, 168) /*#1e88a8*/;
	border-bottom: 4px double rgb(30, 136, 168) /*#1e88a8*/;
	border-radius: 0 0 5px 0;
	color: rgb(53, 87, 129) /*#355781*/;
	transition: all 0.3s ease 0s;
}
.cat:hover {
	color: rgb(89, 145, 216) /*#5991d8*/;
}
.box_link_cat {
	width: 100%;
	padding: 30px 15px 15px;
	text-align: right;
}
.link_cat {
	color: rgb(89, 145, 216) /*#5991d8*/;
}

/********************************************************************************************
SP Landscape
*********************************************************************************************/
/* 667px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 667px){
 .section {
  width: calc(100% / 2);
  margin: 0 auto 10px;
  padding: 0 1% 30px;
 }
 .section.w100 {
  width: 100%;
  margin: 20px 0;
  padding: 0 1%;
 }
 .fig.main_view img {
  object-position: 0px -350px;
 }
 #anchor_Private_Lessons {
  width: 100%;
 }
 .left {
  float: left;
  width: 61.8%;
  padding: 0 15px 15px 0;
  border-radius: 5px;
 }
 .right {
  float: right;
  width: 61.8%;
  padding: 0 0 15px 15px;
  border-radius: 5px;
 }
 .float_h4 {
  width: calc(38.2% - 15px);
 }
 .right_h4 {
  float: right;
  margin-bottom: 15px;
  padding: 10px;
 }
	.em_en span,
	.em_ja span {
		display: inline;
	}
	.box_articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
 }
 .article {
  width: calc(50% - (15px * 2)) /* width - margin */;
  margin: 15px;
  padding: 0;
 }
	.article:first-child .article_h4,
	.article:nth-of-type(2) .article_h4 {
		margin-top: 0;
	}
	.article .article_h4 {
		margin-top: 15px;
	}
	.article_cat {
		bottom: -30px;
	}
}

/********************************************************************************************
Tablet Portrait
*********************************************************************************************/
/* 768px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px){
 .fig.main_view img {
  object-position: 0px -400px;
 }
 #anchor_Tuition .sec_box_inner {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3) /*#000*/;
 }
 #anchor_Tuition .inner_ja,
 #anchor_Tuition .inner_en {
  width: calc(50% - 30px);
  background: rgba(255, 255, 255, 0.1) /*#fff*/;
  border-radius: 5px;
  padding: 15px;
 }
 #anchor_Tuition .inner_ja {
  margin-right: 10px;
  margin-bottom: 0;
 }
 #anchor_Tuition .inner_en {
  margin-left: 10px;
  margin-top: 0;
 }
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1024px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px){
 header {
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15) /*#000*/;
 }
 main {
  max-width: 1920px;
  margin: auto;
 }
 .fig.main_view img {
  height: 500px;
 }
 .sec_h2 {
  font-size: 1.6rem;
 }
 .arrow_h4 {
  width: calc((100% / 4) + (-5px * 4));
 }
 .arrow_h4:first-of-type {
  margin-left: 0;
 }
 .arrow_h4:last-of-type {
  margin-right: 0;
 }
 #anchor_Tuition .sec_box_inner {
  background-size: 500px;
 }
}

/********************************************************************************************
PC
*********************************************************************************************/
/* 1280px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1280px){
 .fig.main_view img {
  object-position: 0px -600px;
 }
}

/********************************************************************************************
PC
*********************************************************************************************/
/* 1440px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1440px){
 .section {
  padding: 0;
 }
 .fig.main_view img {
  object-position: 0px -700px;
 }
}

/********************************************************************************************
PC
*********************************************************************************************/
/* 1920px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1920px){
 .section,
 .section.w100 {
  padding: 0;
 }
 .fig.main_view img {
  object-position: 0px -870px;
 }
}
