/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
.fig {
 position: relative;
 width: 100%;
 height: auto;
 z-index: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0;
}
.fig.main_view img {
 width: 100%;
 height: 300px;
 object-fit: cover;
}
.figcaption {
 position: absolute;
 bottom: 0;
 left: 0;
 z-index: 1;
 background: rgb(30, 136, 168) /*#1e88a8*/;
 box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05) /*#000*/;
 padding: 10px;
 border-radius: 0 10px 0 0;
 color: rgb(255, 255, 255) /*#fff*/;
}
.section {
 width: 100%;
 margin: 30px 0 0;
 padding: 0 2%;
}
.section,
.sec_box {
 opacity: 1;
 font-weight: normal;
}
.sec_icon {
 opacity: 1
}
.sec_h2 {
 background-color: rgb(30, 136, 168) /*#1e88a8*/;
}
#nav_local {
 background: rgb(30, 136, 168) /*#1e88a8*/;
}

/********************************************************************************************
SP Landscape
*********************************************************************************************/
/* 667px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 667px){
.section {
  width: calc(100% / 2);
  margin: 0 auto 10px;
  padding: 0 1% 30px;
 }
 .section.w100 {
  width: 100%;
  margin: 20px 0;
  padding: 0 1%;
 }
 .fig.main_view img {
 object-position: 0px -350px;
 }
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1024px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px){
 header {
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15) /*#000*/;
 }
 main {
  max-width: 1920px;
  margin: auto;
 }
 .fig.main_view img {
  height: 500px;
  object-position: 0px -450px;
 }
 .sec_h2 {
  font-size: 1.6rem;
 }
}

/********************************************************************************************
PC
*********************************************************************************************/
/* 1280px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1280px){
 .fig.main_view img {
  object-position: 0px -600px;
 }
}

/********************************************************************************************
PC
*********************************************************************************************/
/* 1920px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1920px){
 .section {
  padding: 0;
 }
 .fig.main_view img {
  object-position: 0px -800px;
 }
}
