/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
.figcaption.reviews,
.sec_box_reviews #searchsubmit {
	background: rgb(242, 187, 3) /*#f2bb03*/;
}
