/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
figure {
 position: relative;
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0;
}
figcaption {
 position: absolute;
 bottom: 0;
 left: 0;
 background: rgb(53, 201, 235) /*#00aeeb*/;
 box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05) /*#000*/;
 padding: 10px;
 border-radius: 0 10px 0 0;
 color: rgb(255, 255, 255) /*#fff*/;
}
.section {
 margin: 10px 0;
 padding: 0 2%;
}
.section,
.sec_box {
 opacity: 1;
}
.sec_box {
 background-color: rgb(255, 255, 255) /*#fff*/;
 box-shadow: 0 0 5px rgba(170, 170, 170, 0.5) /*#aaa*/;
 padding: 0 10px 10px;
 color: rgb(53, 87, 129) /*#355781*/;
}
#sitemap h4,
#sitemap h5 {
 margin-bottom: 20px;
}
#sitemap h4:first-child {
 margin-top: 10px;
}
#sitemap h5 {
 margin-left: calc(30px + 45px); /*icon-size + margin*/
 font-size: 1.5rem;
}
#sitemap h5 .sitemap_icon {
 display: none;
}
.li_a {
 display: flex;
 flex-direction: column;
 align-items: left;
 color: rgb(53, 87, 129) /*#355781*/;
}
.li_a_en {
 order: 1;
}
.li_a_ja {
 order: 2;
 margin-left: calc(30px + 15px); /*icon-size + margin*/
}
#sitemap h5 .li_a_ja {
 margin-left: 0;
}
.sitemap_icon {
 display: inline-block;
 width: 30px;
 height: 30px;
 margin-right: 15px;
}

/********************************************************************************************
SP Landscape
*********************************************************************************************/
/* 667px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 667px){
 .section {
  width: 100%;
  padding: 30px 2%;
 }
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1024px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px){
 header {
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15) /*#000*/;
 }
}
