/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
main {
 padding: 0 2%;
}
.fig {
 position: relative;
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0;
}
.figcaption {
 position: absolute;
 bottom: 0;
 left: 0;
 background: rgb(53, 201, 235) /*#00aeeb*/;
 box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05) /*#000*/;
 padding: 10px;
 border-radius: 0 10px 0 0;
 color: rgb(255, 255, 255) /*#fff*/;
}
.section {
 width: 100%;
 margin: 30px 0 0;
 padding: 0;
}
.section,
.sec_box {
 opacity: 1;
}
.sec_icon {
 opacity: 1
}
.sec_h2 {
 background: rgba(53, 201, 235, 0.8) /*#00aeeb*/;
}
h4,
h5 {
 transition: all 0.3s ease 0s;
 margin: 20px 10px;
}
h4:first-child {
 margin-top: 10px;
}
h5 {
 margin-left: calc(30px + 45px); /*icon-size + margin*/
 font-size: 1.5rem;
}
h5 .sitemap_icon {
 display: none;
}
.li_a {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 color: rgb(53, 87, 129) /*#355781*/;
}
.li_a_en {
 order: 1;
}
.li_a_ja {
 order: 2;
 min-width: 50%;
 margin-left: calc(30px + 15px); /*icon-size + margin*/
}
h5 .li_a_ja {
 margin-left: 0;
}
.sitemap_icon {
 display: inline-block;
 width: 30px;
 height: 30px;
 margin-right: 15px;
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1024px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px){
 header {
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15) /*#000*/;
 }
 main {
  max-width: 1920px;
  margin: auto;
 }
 .sec_box_inner {
  padding: 15px 20px;
 }
 .sec_h2 {
  font-size: 1.6rem;
 }
  h4,
  h5 {
  padding: 10px;
 }
  h4:hover,
  h5:hover {
  background: rgba(53, 201, 235, 0.3) /*#00aeeb*/;
  border-radius: 5px;
  color: #fff;
 }
 .li_a {
  flex-direction: row;
  align-items: baseline;
 }
 .li_a_ja {
  margin-left: 10px;
 }
 .li_a_ja::before {
  content: "-";
  margin-right: 10px;
 }
  h5 .li_a_ja {
  margin-left: 10px;
 }
 .sitemap_icon {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
 }
}
