/********************************************************************************************
SP Portrait
*********************************************************************************************/
/*
--------------------------------------------------------------------------------------------*/
.fig {
 position: relative;
 width: 100%;
 height: auto;
 z-index: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0;
}
.figcaption {
 position: absolute;
 bottom: 0;
 left: 0;
 z-index: 1;
 background: rgb(211, 93, 135) /*#d35d87*/;
 box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05) /*#000*/;
 padding: 10px;
 border-radius: 0 10px 0 0;
 color: rgb(255, 255, 255) /*#fff*/;
}
.section {
 width: 100%;
 margin: 30px 0 0;
 padding: 0 2%;
}
.section,
.sec_box {
 opacity: 1;
 font-weight: normal;
}
.sec_icon {
 opacity: 1
}
.sec_h2 {
 background: rgba(211, 93, 135, 0.8) /*#d35d87*/;
}
.sec_h3_translations {
 display: flex;
 flex-direction: column;
 background: rgb(211, 93, 135) /*#d35d87*/;
 border-radius: 5px 5px 0 0;
 padding: 10px;
 color: rgb(255, 255, 255) /*fff*/;
 text-align: center;
}
.sec_h3_ja {
 display: block;
 width: 100%;
 order: 2;
 font-size: 1.5rem;
}
.sec_h3_en {
 display: block;
 width: 100%;
 order: 1;
 font-family: Helvetica, Arial, sans-serif;
 font-size: 1.7rem;
}
.sec_h3_ja::before,
.sec_h3_ja::after {
 content: " - ";
}
h4 {
 margin: 20px 0;
 border: 4px double rgb(211, 93, 135) /*#d35d87*/;
 padding: 10px;
 border-radius: 5px;
 color: rgb(211, 93, 135) /*#d35d87*/;
 font-size: 1.6rem;
}
h4:first-child {
 margin-top: 5px;
}
.article_h4 {
 margin: 15px 0;
 border: none;
 padding: 0;
}
.article_h4:first-child {
 margin-top: 0;
}
h5 {
 margin: 15px 0;
 font-size: 1.5rem;
}
iframe {
 height: 250px;
 border-radius: 5px;
}
.ul li {
 font-size: 1.5rem;
 margin-bottom: 10px;
}
.ul li::before {
 content: "●";
 padding-right: 2px;
 color: rgb(242, 187, 3) /*#f2bb03*/;
}
article {
 border-bottom: 2px dotted rgb(38, 155, 143) /*#269b8f*/;
 padding: 15px 0;
}
article:first-child {
 padding-top: 0;
}
article:last-child {
 border-bottom: none;
}
.category {
 display: block;
 margin-top: 10px;
 color: rgb(89, 145, 216) /*#5991d8*/;
 font-size: 1.3rem;
 text-align: right;
}

/********************************************************************************************
SP Landscape
*********************************************************************************************/
/* 667px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 667px){
}

/********************************************************************************************
Tablet Portrait
*********************************************************************************************/
/* 768px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px){
 iframe {
  height: 500px;
 }
}

/********************************************************************************************
PC & Tablet Landscape
*********************************************************************************************/
/* 1024px
--------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px){
 header {
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15) /*#000*/;
 }
 #section {
  width: 100%;
 }
 .sec_box_inner {
  padding: 15px 20px;
 }
 .sec_h2 {
  font-size: 1.6rem;
 }
}
